.container {
  background-color: #ffe6e6;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: 110vh;
  flex-direction:column;
}
.box {
  background-color: #fdaaaa;
  padding: 5px;
  width: 30%;
  height: 20%;
}

.nav {
    background-color: #ff7474;
    padding: 2px;
    list-style: none;
    width: 20%;
    height: 30%;
  }

.nav2 {
    display: block;
    background-color: #ff7474;
    padding: 2px;
    list-style: none;
    width: 50%;
    height: 60%;
  }

.zad1{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.zad2{
display: flex;
justify-content: flex-end;
align-items: flex-start;
}
.zad3{
display: flex;
justify-content: flex-start;
align-items: flex-end;
}
.zad4{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
.zad5{
display: flex;
justify-content: center;
align-items: flex-start;
}
.zad6{
display: flex;
justify-content: center;
align-items: center;
}
.zad7{
display: flex;
justify-content: center;
align-items: flex-end;
}
.zad8{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.zad9{
display: flex;
justify-content: center;
align-items: flex-start;
}
.zad10{
display: flex;
justify-content: center;
align-items: center;
}
.zad11{
display: flex;
justify-content: center;
align-items: flex-end;
}
.zad12{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}

.space {
  margin-left: 15px;
}

.rzad{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.kolumna{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link{
  display: inline-block;
  padding: 5px;
  background-color: #ff7474;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: 0.2s;
}

.link2{
  display: inline-block;
  padding: 5px;
  background-color: #ff7474;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: 0.4s;
}

.link3{
  display: inline-block;
  padding: 5px;
  margin-bottom: 3px;
  width: 60%;
  background-color: #ff7474;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: 0.5s;
}
.link4{
  display:inline-block;
  padding: 5px;
  margin-bottom: 3px;
  width: 60%;
  background-color: #ff7474;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: 0.2s;
}
.link:hover{
  background-color: #ffe6e6;
  color: #ff7474;
  font-size: 15px;
}
.link2:hover{
  background-color: #ffe6e6;
  color: #ff7474;
  font-size: 15px;
}
.link3:hover{
  background-color: #ffe6e6;
  color: #ff7474;
  border-radius: 10px;
  font-size: 15px;
}
.link4:hover{
  background-color: #ffe6e6;
  color: #ff7474;
  font-size: 15px;
}